@model WebConsultorioOdontologico.Models.Inventario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section site-block-3">
    <div class="container">
        <h1 style="color:red">DETALLES DEL ARTÍCULO</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="color:red">
                    Nombre del Artículo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Articulo)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Precio del Artículo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Usuario de Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsuarioRegistro)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Fecha de Registro
                </dt>
                <dd class="col-sm-10">
                    @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @(Model.Estado == 1 ? "Disponible" : "No disponible")
                </dd>
            </dl>
        </div>
        <div>
            <i class="fas fa-edit " style="color:red "></i>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
            <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
            <a asp-action="Index" style="color:red ">Volver a la lista</a>
        </div>
    </div>
</div>
