@model IEnumerable<WebConsultorioOdontologico.Models.Personal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5">

    <h1>LISTA DE PERSONAL</h1>

    <p>
        <a asp-action="Create">
            <i class="fas fa-plus me-6"></i>Crear Nuevo Personal
        </a>
    </p>
    <table class="table">
        <tbody>
        <thead>
            <tr style="background-color: #333333">
                <th style="color : #C7180C">Cedula de Identidad</th>
                <th style="color : #C7180C">Nombre Completo</th>
                <th style="color : #C7180C">Especialidad</th>
                <th style="color : #C7180C">Antiguedad</th>
                <th style="color : #C7180C">Dirección</th>
                <th style="color : #C7180C">Celular</th>
                <th style="color : #C7180C">Cargo</th>
                <th style="color : #C7180C">Usuario Registro</th>
                <th style="color : #C7180C">Fecha Registro</th>
                <th style="color : #C7180C">Estado</th>
                <th style="color : #C7180C">Acciones</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.CedulaIdentidad)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Especialidad)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Antiguedad)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                    </td>
                    <td style="color : white">
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td style="color : white">
                                @(item.Estado == 1 ? "Activo" : "Inactivo")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver"><i class="fas fa-eye me-2"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-edit me-2"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash me-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>