@model WebConsultorioOdontologico.Models.Citum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section site-block-3">
    <div class="container">

        <h1 style="color:red">DETALLE DE LA CITA</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="color:red">
                    Nombre del Paciente
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdPacienteNavigation.Nombres)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Fecha de la cita
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fecha)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Hora de la cita
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hora)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Tratamiento
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tratamiento)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Estado del Pago
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pago)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Pago Pendiente
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ACuenta)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Usuario de Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsuarioRegistro)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Fecha de Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @(Model.Estado == 1 ? "Disponible" : "No disponible")
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Estado de la cita
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdRegistroNavigation.Valor)
                </dd>
            </dl>
        </div>
        <div>
            <i class="fas fa-edit " style="color:red "></i>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
            <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
            <a asp-action="Index" style="color:red ">Volver a la lista</a>
        </div>
    </div>
</div>