@model WebConsultorioOdontologico.Models.Horario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5">
    <h1 style="color:red">Detalles del Horario</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color:red">
                Nombre del Doctor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdPersonalNavigation.Nombres)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Lunes
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lunes)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Martes
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Martes)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Miércoles
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Miercoles)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Jueves
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Jueves)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Viernes
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Viernes)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Sábado
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sabado)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Mes
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mes)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Permiso
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Permiso)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Usuario de Registro
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioRegistro)
            </dd>
            <dt class="col-sm-2" style="color:red">
                Fecha de Registro
            </dt>
            <dd class="col-sm-10">
                @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
            </dd>
            <dt class="col-sm-2" style="color:red">
                Estado
            </dt>
            <dd class="col-sm-10">
                @(Model.Estado == 1 ? "Disponible" : "No disponible")
            </dd>
        </dl>
    </div>
    <div>
        <i class="fas fa-edit " style="color:red "></i>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
        <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
        <a asp-action="Index" style="color:red ">Volver a la lista</a>
    </div>

</div>
