@model IEnumerable<WebConsultorioOdontologico.Models.Horario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">
        <i class="fas fa-calendar-days me-6 " style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'">Crear Nuevo Horario</i>
    </a>
</p>
<table class="table">
    <thead>
        <tr style="background-color: #333333">
            <th style="color : #C7180C">Nombre del Doctor</th>
            <th style="color : #C7180C">Lunes</th>
            <th style="color : #C7180C">Martes</th>
            <th style="color : #C7180C">Miércoles</th>
            <th style="color : #C7180C">Alergias</th>
            <th style="color : #C7180C">Jueves</th>
            <th style="color : #C7180C">Viernes</th>
            <th style="color : #C7180C">Sábado</th>
            <th style="color : #C7180C">Mes</th>
            <th style="color : #C7180C">Día Libre</th>
            <th style="color : #C7180C">Usuario del Registro</th>
            <th style="color : #C7180C">Fecha del Registro</th>
            <th style="color : #C7180C">Estado del Registro</th>
            <th style="color : #C7180C">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color : white">
                    @item.IdPersonalNavigation.Nombres
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Lunes)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Martes)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Miercoles)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Jueves)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Viernes)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Sabado)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td style="color : white">
                    @item.Permiso.ToShortDateString()
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td style="color : white">
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td style="color : white">
                    @(item.Estado == 1 ? "Disponible" : "No disponible")
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver"><i class="fas fa-eye me-2" style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-edit me-2" style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash me-2" style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='translateY(-5px)'" onmouseout="this.style.transform='translateY(0)'"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
