@model WebConsultorioOdontologico.Models.Paciente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section site-block-3">
    <div class="container">
        <h1 style="color:red">DETALLES DEL PACIENTE</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="color:red">
                    Nombre del Doctor
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdPersonalNavigation.Nombres)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Nombre Completo del Paciente
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombres)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Cédula de Identidad
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CedulaIdentidad)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Alergias
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Alergias)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Fecha de Nacimiento
                </dt>
                <dd class="col-sm-10">
                    @Model.FechaNacimiento.ToShortDateString()
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Celular
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Celular)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Usuario de Registro
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsuarioRegistro)
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Fecha de Registro
                </dt>
                <dd class="col-sm-10">
                    @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
                </dd>
                <dt class="col-sm-2" style="color:red">
                    Estado
                </dt>
                <dd class="col-sm-10">
                    @(Model.Estado == 1 ? "Disponible" : "No disponible")
                </dd>
            </dl>
        </div>
        <div>
            <i class="fas fa-edit " style="color:red "></i>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
            <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
            <a asp-action="Index" style="color:red ">Volver a la lista</a>
        </div>

    </div>
</div>
